<!--PAGE HEADER-->
<h1>Welcome, <%= @user.username %>!</h1>

<!--LIST USER'S GARAGES-->
<h3>Your Garages:</h3>
<%@user.garages.each do |garage|%>
    <a href="/garages/<%= garage.id %>"><%= garage.name %>, Capacity: <%= garage.capacity %></a><br>
<%end%><br><br><br>

<!--CREATE NEW GARAGE LINK-->
<a href='/garages/new'>Create New Garage</a><br>

<!--SEE ALL GARAGES LINK-->
<a href='/garages'>See Everyone's Garages</a><br><br>

<!--LOGOUT BUTTON-->
<form method="post" action="/users/<%= @user.id %>/logout">
    <input type="submit" value="Log Out">
</form>