<!--PAGE HEADER-->
<% if @user == current_user %>
    <h1>Welcome, <%= @user.username %>!

    <!--LOGOUT BUTTON-->
    <form method="post" action="/users/<%= @user.id %>/logout">
        <input type="submit" value="Log Out">
    </form>
    </h1>
<% else %>
    <h1><%= @user.username %></h1>
<% end %>

<!--LIST USER'S GARAGES-->
<% if @user == current_user %>
    <h3>Your Garages:
<% else %>
    <h3>Garages:
<% end %><br>
<%@user.garages.each do |garage|%>
    <a href="/garages/<%= garage.id %>"><%= garage.name %>, Capacity: <%= garage.capacity %></a><br>
<%end%>

<% if @user == current_user %>
<!--CREATE NEW GARAGE LINK-->
    <a href='/garages/new'>Create New Garage</a><br><br><br><br><br>
<% end %>
</h3>

<!--NAVIGATION LINKS-->
<br><br><br><br><br><br>
<a href="/users/<%= current_user.id %>">Go To --> User Home</a><br>
<a href="/garages">Go To --> See Everyone's Garages</a>